// color palette
$background: #FAFEFD;
$interactive-component: #E0F8F3;
$border-separator: #83CDC1;
$borderfocus-rings: #53B9AB;
$solid-background: #12A594;
$secondary-text-links: #008573;
$primary-text-color: #0D3D38;

// layout
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding-left-right {
    padding: 0 4rem;
    @media (max-width: 630px) {
        padding: 0 2rem;
    }
}

@mixin margin-left-right {
    margin-left: 4rem;
    @media (max-width: 630px) {
        margin-left: 2rem;
    }
}

// border-radius
$button-radius: 5px;
$interactive-component-radius: 8px;